* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F9F0E7;
}

body > a {
    font-size: 2rem;
    margin: 1rem;
}

a {
    color: #497F7F;
}

#cards {
    display: flex;
    flex-flow: wrap space-around;
    width: 100%;
    padding: 0rem 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 100%;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: #497F7F;
    width: 250px;
    height: 250px;
    color: white;
    border: black solid 1px;
    border-radius: 1rem;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 2rem;
    height: 2.5rem;
    border-radius: 20%;
}

.avatar {
    width: 100px;
    height: 100px;
    padding: 1rem;
    border-radius: 5rem;
    background-color: white;
    background-position: center;
    background-size: cover;
}

.selected > div {
    background-color: #497F7F;
}

.selected > div > a { 
    color: white;
}

.hidden > div:last-child {
    opacity: 0;
}

.email.reduce-at-24 {
    font-size: 80%
}

.email.reduce-at-32 {
    font-size: 70%
}

.email.reduce-at-39 {
    font-size: 65%
}

@media (max-width: 900px) {
    #cards {
        flex-direction: column;
        align-items: center;
    }
}